img {
	height: 80px;
}

.cont {
	display: flex;
	padding: 0%;
	margin-bottom: 45px;
}

.cont div {
	padding: 0%;
	min-height: 30px;
	max-height: 80px;
}

nav {
	display: flex;
	margin-bottom: 50px;
}

nav img {
	height: 40px;
}

nav div{
	position: relative;
	display: inline-block;
}

nav div div{
	z-index: 2;
	height: 15px;
	width: 15px;
	background-color: red;
	border-radius: 20px;
	margin: 0px;
	padding: 0%;
	position: absolute;
	top: 27px;
	left: 25px;
	justify-content: center;
	align-items: center;
}